.movie-title {
  color: #1b064c;
  text-transform: uppercase;
  font-family: "Ubuntu", "sans-serif";
  font-weight: 500;
  font-size: 1.25rem;
}

.movie-details {
  background-color: #1b064c;
}

$danger: #ff4136;
