.navbar-light {
  background-color: #1b064c;
  color: #f72684;
}

.navbar-nav {
  align-items: center;
}

.container {
  margin-top: 100px;
}

.span {
  font-style: italic;
  font-size: 0.75rem;
}

.navbar-logo {
  max-height: 55px;
}

.navbar-light .navbar-nav .nav-link {
  color: #f72684;
}

.navbar-nav:hover .nav-link:hover {
  color: white;
}

.button-float-right {
  background-color: #f72684;
}
